{% load mptt_tags %}
<div class="comments">
    <ul style="list-style-type: none;">
        {% recursetree comments %}
            <li>
                <div class="comment">
                    {{ node.comment }}
                    <div class="child-comment-button" data-node-id="{{ node.id }}"></div>
                </div>
                {% if not node.is_leaf_node %}
                    <ul style="list-style-type: none;">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>